.text-size-title {
  font-size: 1.1rem;
}

.text-size-exp-edu{
  font-size: 1.2rem;
  color: grey;
}
// .text-size-caption{
//   font-size: 1.2rem;
//   // color: grey;
// }
.text-size-caption{
  font-size: 1rem;
  // color: grey;
}
.text-size-subtitle{
  font-size: 0.8rem;

}

.text-size-info {
  font-size: 1.1rem;
  display: inline-block;
  padding-bottom: 0.2em;
}
.text-size-skill {
  font-size: 0.9rem;
  padding-bottom: 0.2em;
}
.text-size {
  font-size: 0.9em;
}
.text-mail {
  font-size: 0.8rem;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

// experience
.text-size-experience-title{
  font-size: 1rem;
}
.text-size-experience-entity{
  font-size: 0.9rem;
}
.text-size-experience-location{
  font-size: 0.8rem;
}
.text-size-experience-date{
  font-size: 0.8rem;
}
.text-size-description{
  font-size: 1rem;
  line-height: 1.8;
}